# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.cache/
.DS_Store
.env
.vscode/settings.json
*.swp
*.tar.gz
*.whl
/tmp/
certs/
nohup.out
