# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.benchmarks/
.coverage
.hypothesis/
.mypy_cache/
.pdbrc
.pytest_cache/
.python-version
.tox/
.venv/
*.ipynb
*.pyc
**/__pycache__/
**/.ipynb_checkpoints/
**/*.egg-info/
/tmp/
environment.yml
f1
flit.ini
Pipfile
Pipfile.lock
requirements.lock
requirements.txt
setup.py
