@charset "utf-8";

$primary: #d333ff;
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "bulma/bulma.sass";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.divider {
  border-top: 0.125rem solid $grey-light;
}
